{% extends 'fragments/base_layout.html' %}
{% load static %}
{% block content %}

<body>
    <section class=" contact section-padding" id="contact">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-12 mx-auto">
                    <h2 class="mb-4 text-center" data-aos="fade-up">Login</h2>
                    <form action="#" method="post" class="contact-form" role="form" data-aos="fade-up">
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <label for="name" class="form-label">Name <sup class="text-danger">*</sup></label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Full name" required>
                            </div>
                            <div class="col-lg-6 col-6">
                                <label for="email" class="form-label">Email <sup class="text-danger">*</sup></label>
                                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required>
                            </div>
                            <div class="col-12 my-4">
                                <label for="message" class="form-label">How can we help?</label>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tell us about the project" required></textarea>
                            </div>
                            <div class="col-12">
                                <label for="services" class="form-label">Services<sup class="text-danger">*</sup></label>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="form-check">
                                    <input type="checkbox" id="checkbox1" name="checkbox1" class="form-check-input">

                                    <label class="form-check-label" for="checkbox1">Branding</label>
                                    </div>
                            </div>
                            <div class="col-lg-4 col-12 my-2 my-lg-0">
                                <div class="form-check">
                                    <input type="checkbox" id="checkbox2" name="checkbox2" class="form-check-input">

                                    <label class="form-check-label" for="checkbox2">Digital Experiences</label>
                                    </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="form-check">
                                    <input type="checkbox" id="checkbox3" name="checkbox3" class="form-check-input">

                                    <label class="form-check-label" for="checkbox3">Web Development</label>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-12 mx-auto mt-5">
                            <button type="submit" class="form-control">Send Message</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</body>

{% endblock %}

