{% extends 'fragments/base_layout.html' %}
{% load static %}
{% block content %}

<body>
    <section class=" contact section-padding" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12 mx-auto">
                    <h2 class="mb-4 text-center" data-aos="fade-up">Register</h2>
                    <form action="/playground/user/signUp" method="post" class="contact-form" role="form" data-aos="fade-up">
                        {% csrf_token %}
                        <div class="row">
                            <div class="mb-4 text-center">
                                <label for="username" class="form-label">Username</sup></label>
                                <input type="text" name="username" id="username" value="a" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="mb-4 text-center mx-auto">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" id="email"  value="a@a" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required>
                            </div>
                            <div class="mb-4 text-center">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="password" id="password" value="a" class="form-control" placeholder=Password required>
                            </div>
                            <div class="mb-4 text-center">
                                <label for="rpassword" class="form-label">Repeat Password</label>
                                <input type="password" name="rpassword" id="rpassword" value="a" class="form-control" placeholder=Repeat Password required>
                            </div>
                        </div>
                        <div class="col-lg-5 col-12 mx-auto mt-5">
                            <button type="submit" class="form-control">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}
